.header {
    background: #111;
    padding: 1rem 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
    /* 최대 너비 설정 */
}

.header h1 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff; /* Ensure the header text is visible */
}

.header nav ul {
    list-style: none;
    padding: 0;
}

.header nav ul li {
    display: inline;
    margin-right: 1rem;
}

.header nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.header nav ul li a:hover {
    transform: translateY(-5px);
}