@keyframes fadeToBlackAndWhite {
    0% {
        filter: grayscale(0%);
    }
    100% {
        filter: grayscale(100%);
    }
}

.hero-section {
    background-image: url('/public/background_profile.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    animation: fadeToBlackAndWhite 5s ease-in-out forwards;
    /* 5초 동안 서서히 흑백으로 변환 */
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

.hero-text {
    flex: 1;
    margin-right: 2rem;
    margin-top: 2rem;
    color: black;
}

.hero-section {
    display: flex;
    padding: 2rem 0;
}

.speech-bubble h2 {
    margin: 0;
}

.hero-image img {
    max-width: 100%;
}

@media (max-width: 768px) {
    .hero-section {
        flex-direction: column;
    }

    .hero-text {
        margin-right: 0;
        margin-bottom: 1rem;
    }
}