body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #1a1a2e; /* 검은색에 가까운 남색 배경 */
  color: white;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  padding: 20px;
  background-color: #162447;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.email-icon {
  color: white;
  text-decoration: none;
}

.content {
  display: flex;
  padding: 20px;
  width: 80%;
}

.profile {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2e2e4e; /* 노트 패드 배경 색 */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profile-info {
  text-align: center;
  width: 100%;
}

.profile-details {
  text-align: left;
  margin-top: 20px;
  width: 100%;
  border-top: 1px solid #4e4e6e; /* 노트 패드 줄 */
  padding-top: 20px;
}

.profile-item {
  margin-bottom: 10px;
}

.experience {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.project-card {
  background-color: #1f4068;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

/* 모바일 화면용 스타일 */
@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  .profile {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .experience {
    width: 100%;
  }
}
