body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #a8d0e6, #374785);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  text-align: center;
}

.section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 1s, transform 1s;
}

.section1 {
  position: relative;
}

.section1.fade-out {
  opacity: 0;
}

.section2 {
  opacity: 0;
  transform: scale(0);
}

.section2.show {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s 1s, transform 1s 1s;
}

.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.section3 {
  opacity: 0;
  transform: scale(0.5) translateY(-50px);
}

.section3.show {
  opacity: 1;
  transform: scale(1) translateY(0);
  transition: opacity 1s, transform 1s;
}

.profile-details {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
}

.section4 {
  opacity: 0;
  transform: translateY(50px);
}

.section4.show {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s, transform 1s;
}

.card {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  width: 80%;
}
