/* 기존 코드 유지 */

.background-image {
    background-image: url('/public/night-vive.jpeg');
    background-size: cover;
    background-position: center;
    position: relative;
    min-height: 100vh;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7); /* 배경을 어두운 색으로 변경 */
    color: #ccc; /* 글자 색상을 회색으로 변경 */
    padding: 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.search-form input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #555;
    background-color: #222;
    color: #ccc;
}
.select-button,
.search-form button {
    flex-shrink: 0;
    padding: 10px;
    background-color: #ffcc00; /* 버튼 배경을 노란색으로 변경 */
    color: #333;
    border: none;
    cursor: pointer;
}

footer.container {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .overlay {
        padding: 20px;
    }

    .search-container,
    .addr-container,
    .dong-container,
    .ho-container {
        flex-direction: column;
        align-items: stretch;
    }

    .search-form {
        flex-direction: column;
        gap: 5px;
    }

    .search-form input[type="text"] {
        width: 100%;
    }

    .search-form button {
        width: 100%;
    }
}

/* PC Styles */
@media (min-width: 769px) {
    .overlay {
        padding: 30px;
    }

    .search-container,
    .addr-container,
    .dong-container,
    .ho-container {
        flex-direction: row;
        align-items: center;
    }

    .search-form {
        flex-direction: row;
        gap: 10px;
    }

    .search-form input[type="text"] {
        width: auto;
    }

    .search-form button {
        width: auto;
    }
}