.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
    /* 최대 너비 설정 */
}

.work-section {
    padding: 2rem 0;
}

.work-item {
    margin-bottom: 2rem;
}

.btn {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 0;
    /* 각진 사각형 모양으로 변경 */
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #ff0;
    color: #000;
}

.case-study {
    margin-top: 1rem;
    padding: 1rem;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}