.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
    /* 최대 너비 설정 */
}

.work-section {
    padding: 2rem 0;
}

.work-item {
    margin-bottom: 2rem;
}

.icon {
    font-size: 1.5rem;
    width: 3rem; /* 가로 너비를 2배로 설정 */
    display: inline-block; /* 크기 조절을 위해 inline-block으로 설정 */
    cursor: pointer;
    transition: color 0.3s ease;
    stroke-width: 2; /* 화살표를 더 두껍게 설정 */
}

.icon:hover {
    color: #ff0;
}

.case-study {
    margin-top: 1rem;
    padding: 1rem;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}